<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>smsc-web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>MenuBuilder</servlet-name>
		<servlet-class>lv.itsms.web.menu.MenuBuilderController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CompanyWebController</servlet-name>
		<servlet-class>lv.itsms.web.page.company.CompanyPageController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginWebController</servlet-name>
		<servlet-class>lv.itsms.web.page.login.LoginPageController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OfferWebController</servlet-name>
		<servlet-class>lv.itsms.web.offermenu.OfferMenuController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SMSController</servlet-name>
		<servlet-class>lv.itsms.web.page.smspanel.SmsPanelController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginRequestController</servlet-name>
		<servlet-class>lv.itsms.web.page.login.LoginRequestController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReqistrationPageController</servlet-name>
		<servlet-class>lv.itsms.web.page.registration.RegistrationPageController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReqistrationRequestController</servlet-name>
		<servlet-class>lv.itsms.web.page.registration.RegistrationRequestController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MenuBuilder</servlet-name>
		<url-pattern>/menubuilder.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompanyWebController</servlet-name>
		<url-pattern>/companyinfoloader.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginWebController</servlet-name>
		<url-pattern>/logininfoloader.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OfferWebController</servlet-name>
		<url-pattern>/offerinfoloader.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SMSController</servlet-name>
		<url-pattern>/smscontroller.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginRequestController</servlet-name>
		<url-pattern>/login/loginrequest.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReqistrationPageController</servlet-name>
		<url-pattern>/registrationloader.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReqistrationRequestController</servlet-name>
		<url-pattern>/login/registration.jsp</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>IT SMS database configuration</description>
		<res-ref-name>jdbc/ITSMSDBMenu</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>IT SMS database configuration</description>
		<res-ref-name>jdbc/ITSMSDBWeb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>IT SMS database configuration</description>
		<res-ref-name>jdbc/ITSMSDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>